@charset "utf8";

body {
    background-color: rgb(183, 220, 232);
}

header {
    width: 100%;
    height: 25px;
    background-color: rgb(37, 86, 191);
    padding-top: 0;
    margin: 0%;
}






button {
    padding: none;
    border: none;
    margin:  ;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
    font-style: ;
}

.buttonlateral{
    color: black;
}
div {
    width: 30%;
  display: inline-block;
}

#lateralesquerda {
    background-color: #ffffff;
    padding: auto;
    width: 150px;
    height: 700px;
    border-radius: 10px;
    
}

#timeline {
    background-color: #ffffff;
    padding: auto;
    margin-top: 170px;
    border-radius: 10px;
}

h1{
    font-family: Arial;
}